<div class="banner">
  <div class="container">
    <h1 class="banner-title">My Profile</h1>
  </div>
</div>

<div class="container my-profile-wrapper">
  <div class="summary">
    <div class="inner">
      <div class="header"></div>
      <div class="profile-photo">
        <img src="/assets/img/pro-photo-placeholder.png" alt="" />
      </div>
      <div class="label">Display name</div>
      <div class="data name">{{ user?.displayName }}</div>
      <div class="label">Phone number</div>
      <div class="data">{{ user?.phone }}</div>
      <div class="label">Country</div>
      <div class="data">
        <img
          class="location-icon"
          src="/assets/svg/country-orange.svg"
          alt=""
        />
        <span class="countryName">{{ user?.country }}</span>
      </div>
    </div>

    <div class="action">
      <button routerLink="/my-profile/manage-account" class="btn btn-outline-primary btn-regular-outlined w-100">
        Manage Account
      </button>

      <div class="menu-section">
        <div class="each-menu">
          <div
            class="icon-with-text-wrapper me-4"
            (click)="isHelpCollapsed = !isHelpCollapsed"
          >
            <img class="icon" src="/assets/svg/help-circle.svg" alt="search" />
            <span class="text">Help</span>

            <img
              class="icon ms-auto"
              src="/assets/svg/chevron-{{
                isHelpCollapsed ? 'right' : 'down'
              }}.svg"
            />
          </div>

          <ul [collapse]="isHelpCollapsed" [isAnimated]="true" class="items">
            <li>
              FaQs
              <a href="#" target="_blank">
                <img
                  class="icon ms-2"
                  src="/assets/svg/external-link.svg"
                  alt="externallink"
                />
              </a>
            </li>
            <li>
              More about BioAge
              <a href="#" target="_blank">
                <img
                  class="icon ms-2"
                  src="/assets/svg/external-link.svg"
                  alt="externallink"
                />
              </a>
            </li>
            <li
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseBasic"
            >
              Concerned about your BioAge?
              <img
                class="icon ms-2"
                src="/assets/svg/chevron-{{
                  isCollapsed ? 'right' : 'down'
                }}.svg"
              />
              <div [collapse]="isCollapsed" [isAnimated]="true">
                <p class="sub-collapse-text">
                  If you are concerned about your health or wellness, you should
                  attend an appointment with a healthcare professional. BioAge
                  is a new technology that many people will not have heard of
                  yet, even in the medical community. If you want to discuss
                  this report with a healthcare professional, we recommend you
                  download the fact sheet to show them.
                </p>
              </div>
            </li>

            <li>
              Technical support
              <a href="#" target="_blank">
                <img
                  class="icon ms-2"
                  src="/assets/svg/external-link.svg"
                  alt="externallink"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="each-menu">
          <div
            class="icon-with-text-wrapper me-4"
            (click)="isLegalCollapsed = !isLegalCollapsed"
          >
            <img class="icon" src="/assets/svg/feather.svg" alt="search" />
            <span class="text">Legal</span>

            <img
              class="icon ms-auto"
              src="/assets/svg/chevron-{{
                isHelpCollapsed ? 'right' : 'down'
              }}.svg"
            />
          </div>
          <ul [collapse]="isLegalCollapsed" [isAnimated]="true" class="items">
            <li>
              Disclaimer
              <a href="#" target="_blank">
                <img
                  class="icon ms-2"
                  src="/assets/svg/external-link.svg"
                  alt="externallink"
                />
              </a>
            </li>
            <li>
              Terms and Conditions
              <a href="#" target="_blank">
                <img
                  class="icon ms-2"
                  src="/assets/svg/external-link.svg"
                  alt="externallink"
                />
              </a>
            </li>
            <li>
              Privacy Policy
              <a href="#" target="_blank">
                <img
                  class="icon ms-2"
                  src="/assets/svg/external-link.svg"
                  alt="externallink"
                />
              </a>
            </li>
            <li>
              Terms of Service
              <a href="#" target="_blank">
                <img
                  class="icon ms-2"
                  src="/assets/svg/external-link.svg"
                  alt="externallink"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="forms">
    <div *ngIf="formsAreInvalid" class="alert alert-danger">
      <p>Please check your input and try again!</p>
    </div>
    <div class="personal-details">
      <h2 class="title">Edit Personal Details</h2>
      <app-personal-detail-form
        #personalForm
        [personalDetail]="personalDetail"
      ></app-personal-detail-form>
      <div class="close-my-account">
        <a routerLink="/my-profile/close-account">Close my account</a>
      </div>
    </div>
    <div class="reset-passwords">
      <h2 class="title">Reset Password</h2>
      <app-reset-password-form #passwordForm></app-reset-password-form>
    </div>
    <button (click)="onSubmit()" class="btn btn-primary btn-regular extended">
      Save Changes
    </button>
  </div>
</div>
