<div class="banner">
  <div class="container">
    <h1 class="banner-title">Close Account</h1>
  </div>
</div>
<div class="container wrapper">
  <h2 class="title">Close account</h2>
  <p class="important">IMPORTANT:</p>
  <p>
    Deleting your account will remove all account access and you will no longer
    receive any further BioAge information. Your personal information will also
    be removed on our database. If you would like to close your account and for
    Toku to remove your personal information from our database, please email
    <b>privacy@tokueyes.com</b> with the subject line "Close BioAge account” and
    include in the email body: 
  </p>
  <p style="margin-bottom: 0">Your Full Name</p>
  <p>
    Contact Information or any other identifying information Toku may need to
    locate your account in our system.
  </p>
  <p>
    <b
      >Please note that deleting your account will remove all account access,
      and you will no longer receive any further BioAge information.</b
    >
  </p>
  <p>
    Toku may be required by local law and regulation to keep part or whole of
    Information for a limited time.
  </p>
</div>
