<div class="banner">
  <div class="container wrapper">
    <div class="banner-content">
      <h1>Hello, {{ user?.firstName }}</h1>
      <p>Welcome to your BioAge Dashboard</p>
    </div>
    <img src="/assets/img/banner-img-1.png" alt="" class="banner-img" />
  </div>
</div>
<div class="container grid grid--10x2">
  <div class="grid-item-1"></div>
  <div class="grid-item-2"></div>
  <div class="grid-item-3"></div>
  <div class="grid-item-4"></div>
  <div class="grid-item-5"></div>
  <div class="grid-item-6"></div>
</div>
