<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a
            class="nav-link dropdown-toggle"
            dropdownToggle
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul
            class="dropdown-menu"
            *dropdownMenu
            aria-labelledby="navbarDropdown"
          >
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<section class="container">
  <h1 class="heading">Disclaimers</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias mollitia
    nobis temporibus libero laboriosam dicta tenetur at, aspernatur veritatis
    recusandae accusantium fuga explicabo quis repellat minima nisi velit quos
    ipsa laborum. Velit nam voluptate eius, dolor ex ipsum, repellendus autem
    minima est labore ducimus expedita explicabo fugit? Iure atque vitae
    accusantium eos corrupti in similique error magni nemo. Repellat quasi
    officiis illo soluta aut deserunt excepturi itaque unde doloribus aperiam?
    Id magnam dolorum pariatur commodi similique sequi veritatis nulla placeat,
    officiis repellat voluptatum cum! Eius fuga quod odio culpa? Voluptatibus
    rerum quas deserunt repellendus, nihil nulla repellat ab, omnis eveniet
    dolor dolores saepe totam eum odit animi aut itaque temporibus commodi. Fuga
    eaque dolores soluta culpa in placeat reiciendis et possimus quaerat esse
    vel neque dolor vero, deserunt ut quos nulla. Modi tenetur eos dolore
    consequuntur. Cum assumenda nisi dolorum impedit praesentium dolor adipisci
    quibusdam est esse quis quam dolore quasi odio molestias ut aliquam,
    reprehenderit sapiente consequuntur eum voluptatum fugiat hic? Aperiam
    corrupti assumenda inventore culpa debitis nemo dolorem ab, illo quidem
    natus recusandae nesciunt. Iste dicta, sed atque in veritatis veniam, id,
    illo quia nulla quae laboriosam dolor. Voluptas nemo sapiente est ex
    explicabo, voluptatum maxime magni eaque!
  </p>
</section>
