<form>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="displayName">Display name</label>
      <input type="text" class="form-control" id="displayName" placeholder="Display Name">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="phone">Phone number</label>
      <input type="text" class="form-control" id="phone" placeholder="Display Name">
    </div>
    <div class="form-group col-md-6">
      <label for="country">Country</label>
      <select name="country" class="form-select" id="country">
        <option value="us">United States</option>
        <option value="ca">Canada</option>
      </select>
    </div>
  </div>
</form>
