<div class="banner">
  <div class="container">
    <h1 class="title">Transform your Health:</h1>
    <h1 class="title fst-italic">Small Changes, Big Results</h1>

    <p class="fw-bold">Now that you know your BioAge, what next?</p>
    <p class="description">
      We can improve our BioAge by taking small steps towards better health.
      Research tells us to focus on these three aspects of our health:
    </p>
  </div>
</div>

<div class="container box-wrapper">
  <div class="each-box">
    <div class="inner">
      <img src="/assets/svg/heart-orange.svg" alt="" />
      <div class="content">
        <h2 class="title">Our Blood Sugar</h2>
        <p>
          A 1% reduction in blood sugar in those with elevated levels is
          associated with
          <b>a 17-21% reduction in the risk of cardiac events. </b>
        </p>
      </div>
    </div>
  </div>
  <div class="each-box">
    <div class="inner">
      <img src="/assets/svg/towerds-left.svg" alt="" />
      <div class="content">
        <h2 class="title">Our Weight</h2>
        <p>
          A <b>5kg</b> weight loss in those with a high BMI can
          <b>reduce diabetes risk by 58%.</b>
        </p>
      </div>
    </div>
  </div>
  <div class="each-box">
    <div class="inner">
      <img src="/assets/svg/blood-pressure-organge.svg" alt="" />
      <div class="content">
        <h2 class="title">Our Blood Pressure</h2>
        <p>
          A <b>10%</b> reduction in systolic blood pressure in those with elevated levels is associated with
          <b>a 25% - 35% reduction in the risk of cardiac events.</b>
        </p>
      </div>
    </div>
  </div>
</div>
