<div class="banner">
  <div class="container">
    <h1 class="title">Transform your Health:</h1>
    <h1 class="title fst-italic">Small Changes, Big Results</h1>

    <p class="fw-bold">Now that you know your BioAge, what next?</p>
    <p class="description">
      We can improve our BioAge by taking small steps towards better health.
      Research tells us to focus on these three aspects of our health:
    </p>
  </div>
</div>

<div class="container box-wrapper">
  <div class="each-box"><div class="inner">something</div></div>
  <div class="each-box"><div class="inner">something</div></div>
  <div class="each-box"><div class="inner">something</div></div>

</div>


