<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="/assets/img/Toku-Eyes-Bioage-Logo-1 2.png"
    /></a>
    <div class="btn-group" dropdown>
      <button class="navbar-toggler" type="button" dropdownToggle>
        <span class="navbar-toggler-icon"></span>
      </button>
      <app-mobile-menu
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu mobile-menu-wrapper"
        role="menu"
        aria-labelledby="button-basic"
      >
      </app-mobile-menu>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="inner-addon left-addon me-4">
        <img src="/assets/svg/search.svg" alt="search" />
        <input type="search" placeholder="Search..." class="form-control" />
      </div>
      <div class="icon-with-text-wrapper me-4">
        <img class="icon" src="/assets/svg/help-circle.svg" alt="search" />
        <span class="text">Help</span>
      </div>
      <div class="icon-with-text-wrapper me-4">
        <img class="icon" src="/assets/svg/feather.svg" alt="search" />
        <span class="text">Legal</span>
      </div>
      <div class="icon-user-profile">
        <img class="icon" src="/assets/svg/user.svg" alt="search" />
      </div>
    </div>
  </div>
</nav>

<app-desktop-menu class="desktop-menu-wrapper"></app-desktop-menu>
