nav {
  height: 78px;
  width: 100%;
  background-color: #fff !important;
  border-bottom: 1px solid var(--color-border);
}

.navbar-expand-lg {
  flex-wrap: wrap;
}

.icon-user-profile {
  cursor: pointer;
}

.my-profile-dropdown {
  li{
    cursor: pointer;
  }
  .sign-out {
    color: #b2b2b2;
  }
}

@media (max-width: 992px) {
  app-desktop-menu {
    display: none;
  }
}
