<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="/assets/img/Toku-Eyes-Bioage-Logo-1 2.png"
    /></a>
    <div class="btn-group" dropdown>
      <button class="navbar-toggler" type="button" dropdownToggle>
        <span class="navbar-toggler-icon"></span>
      </button>
      <app-mobile-menu
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu mobile-menu-wrapper"
        role="menu"
        aria-labelledby="button-basic"
      >
      </app-mobile-menu>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<app-desktop-menu class="desktop-menu-wrapper"></app-desktop-menu>
