nav {
  height: 78px;
  width: 100%;
  background-color: #fff !important;
  border-bottom: 1px solid var(--color-border);
}

.navbar-expand-lg {
  flex-wrap: wrap;
}

.icon-user-profile{
  cursor: pointer;
}

@media (max-width: 992px) {
  app-desktop-menu {
    display: none;
  }
}
