<header>
  <div class="container">
    <img src="/assets/img/Toku-Eyes-Bioage-Logo.png" alt="logo" class="brand" />
  </div>
</header>
<div class="main">
  <div class="container">
    <div class="content-parent">
      <div class="content-inner">
        <div class="row">
          <div class="col-lg-8 content-block">
            <div class="content">
              <h1 class="title text-center">BioAge Results Portal</h1>
              <p>Please, authenticate to view your results</p>
              <div class="actions">
                <button (click)="login()" class="btn text-uppercase me-3 btn-regular">Sign In</button>
                <button class="btn text-uppercase btn-regular-outlined">
                  Create account
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 image-block">
            <img src="/assets/img/login-page-banner-img.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <img src="/assets/img/Toku USA Logo Primary_white on transp bkg.png" alt="" />
  <p>©Toku Inc. {{year}} | All rights reserved</p>
</footer>

