header {
  height: 78px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  min-height: calc(100vh - 78px - 87px);
  background-color: #fafafa;
  .container {
    padding: 60px;
    .content-parent {
      padding: 20px;
      background-color: #fafafa;
      border: 1px solid var(--color-border);
      border-radius: 15px;
      .content-inner {
        padding: 60px 40px;
        background-image: url("/assets/img/Rectangle 170.png");
        background-repeat: no-repeat;
        background-size: cover;
        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .title {
            font-family: var(--heading-font-family);
            font-weight: 400;
            font-size: 48px;
            line-height: 62px;
            margin: 20px;
          }
          p {
            font-family: var(--heading-font-family);
            font-weight: 400;
            font-size: 18px;
            text-align: center;
          }

          .actions {
            margin: 20px;
          }

          .btn {
            width: 170px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            font-family: var(--body-font-family);
            font-weight: 400;
            font-size: 14px;
            transition: transform .2s;
            &:hover {
              transform: scale(1.01);
            }
          }

          .btn-regular {
            background-color: var(--color-secondary);
            border: 1px solid var(--color-secondary);
            color: #fff;
          }

          .btn-regular-outlined {
            background-color: transparent;
            border: 1px solid var(--color-primary);
            color: var(--color-primary);
          }
        }
      }
    }
  }
}
