<li routerLink="/dashboard" routerLinkActive="active">
  <a
    ><div class="icon-with-text-wrapper">
      <app-dashboard-svg></app-dashboard-svg>
      <span class="text">Dashboard</span>
    </div>
  </a>
</li>
<li routerLink="/my-results" routerLinkActive="active">
  <a
    ><div class="icon-with-text-wrapper">
      <app-my-result-svg></app-my-result-svg>
      <span class="text">My Results</span>
    </div>
  </a>
</li>
<li routerLink="/actions" routerLinkActive="active">
  <a
    ><div class="icon-with-text-wrapper">
      <app-action-svg></app-action-svg>
      <span class="text">Actions / What to do</span>
    </div>
  </a>
</li>
<li routerLink="/the-science" routerLinkActive="active">
  <a
    ><div class="icon-with-text-wrapper">
      <app-the-science-svg></app-the-science-svg>
      <span class="text">The Science</span>
    </div>
  </a>
</li>
<li routerLink="/desclaimers" routerLinkActive="active">
  <a
    ><div class="icon-with-text-wrapper">
      <app-disclaimers-svg></app-disclaimers-svg>
      <span class="text">Disclaimers</span>
    </div>
  </a>
</li>
