<li routerLink="/dashboard" routerLinkActive="active">
  <a
    ><div class="icon-with-text-wrapper">
      <app-dashboard-svg></app-dashboard-svg>
      <span class="text">Dashboard</span>
    </div>
  </a>
</li>
<li routerLink="/my-results" routerLinkActive="active">
  <a
    ><div class="icon-with-text-wrapper">
      <img class="icon" src="/assets/svg/dashboard.svg" alt="search" />
      <span class="text">My Results</span>
    </div>
  </a>
</li>
<li routerLink="/actions" routerLinkActive="active">
  <a>Actions / What to do</a>
</li>
<li routerLink="/the-science" routerLinkActive="active"><a>The Science</a></li>
<li routerLink="/desclaimers" routerLinkActive="active"><a>Disclaimers</a></li>
