/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// @import "assets/scss/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
:root {
  /// TYPOGRAPHY
  --heading-font-family: "Poppins", sans-serif;
  --body-font-family: "Open Sans", sans-serif;

  --body-font-size: 16px;

  --heading-font-weight: 500;
  --body-font-weight: 400;

  // COLORS
  --color-primary: #112949;
  --color-secondary: #ff7943;
  --color-border: #e3e3e3;
}
*,
html {
  box-sizing: border-box;
}

body{
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  color: var(--color-primary);
  line-height: 26px;
}

h1{
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: inherit;
}

p{

}
